.login-buttons {
  text-align: right;
  font: normal normal normal 13px/79px Open Sans;
  letter-spacing: 0px;
  color: #737373;
  opacity: 1;
  width: 1758px;
  margin-bottom: -20px;
  top: 37px;

  .login-buttons-register {
    border: 0.75px solid #fad648;
    background-color: white;
    margin: 5px;
  }
  .login-buttons-login {
    border: none;
    background-color: white;
    margin: 5px;
  }
}

.nav-button {
  display: flex;
  justify-content: right;
  text-align: left;
  font: normal normal normal 18px/24px Open Sans;
  letter-spacing: 0px;
  color: #3c3c3c;
  opacity: 1;
  width: 1758px;
  background-color: white;
}

.add-buttons {
  top: 572px;
  left: 958px;
  width: 310px;
  height: 120px;
  border: 0.75px solid #3c3c3c;
  opacity: 1;
  background-color: white;
  font: normal normal 300 36px/45px Open Sans;
}
.add-buttons-section {
  display: flex;
  margin-top: 20px;

  > .add-buttons:not(:last-child) {
    margin-right: 44px;
  }
}
.fundation-text button {
  background-color: gold;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.fundation-text button.active {
  font-weight: bold;
  background-color: #fad648;
}
