$color-primary: #037cfc;
$color-secondary: #22e6dc;
$color-third: rgb(218, 3, 247);
$color1: #f0f1f1;
$color2: #5e5322;
$color3: #fad648;
$color4: #737373;
$color5: #3c3c3c;
/*
Kolory

#F0F1F1

#5E5322

#FAD648

#737373

#3C3C3C
*/
