@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Merriweather:400,700&display=swap');
@import 'settings/fonts';
@import 'settings/colors';
@import 'settings/buttons';

body {
  font-family: $font-base;
  width: 1900px;
  height: 5080px;
  display: flex;
  justify-content: center;
}
.home {
}
.nav-header {
  // background-color: violet;

  .home-image {
    margin-right: 20px;
    max-width: 50%;
    height: auto;
    position: relative;
    top: -20px;
  }
  .home-section {
    display: flex;
    align-items: center;

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .main-headline {
      font-size: 38px;
      line-height: 55px;
      letter-spacing: -0.76px;
      color: #3c3c3c;
      margin-top: 30px;
      margin-bottom: 0;
    }
  }
}

.home-three-columns {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color3;
  padding: 0px;
  width: 100%;
  max-width: 1900px;
  height: 384px;
  opacity: 1;

  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .counter-numbers {
    font: normal normal 300 90px/122px Open Sans;
    letter-spacing: 0px;
    color: #5e5322;
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .column-main-text {
    width: 213px;
    height: 24px;
    text-align: center;
    font: normal normal normal 18px/30px Open Sans;
    letter-spacing: -0.36px;
    color: #3c3c3c;
    opacity: 1;
    margin-top: 28px;
    font-weight: 600;
  }

  .column-text {
    width: 334px;
    height: 68px;
    text-align: center;
    font: normal normal 300 16px/18px Merriweather;
    letter-spacing: -0.32px;
    color: #3c3c3c;
    opacity: 1;
    top: 1194px;
    left: 783px;
    margin-bottom: 60px;
  }
}
a {
  text-decoration: none;
  color: #3c3c3c;
}

.decoration {
  width: 253px;
  height: 33px;
  background: transparent url('img/Decoration.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.simple-steps {
  text-align: center;
  text-wrap: wrap;
  display: flex;
  flex-direction: column;

  .icons {
    margin: 0px 30px 10px 0;
    background-color: lightgrey;
    font-size: 5px;
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .icon {
    width: 30px;
    margin: 20px 50px 5px 50px;
    text-wrap: wrap;
  }
  .simple-text {
    text-align: center;
    text-wrap: wrap;
    margin-bottom: 30px;
    //zwęzić tekst lub dostosowac container do teksu tzn zmniejszyc
  }
  .hr {
    width: 30px;
    height: 0.5px;
    border: none;
    background-color: black;
    margin: 2px auto;
  }
}
